<div class="container bg-gray-900 text-white">
  <div class="container flex justify-between items-center p-8">
    <div class="photo-container w-48 h-48 rounded-full overflow-hidden">
      <img src="<%= @user.photo %>" alt="User Photo" class="object-cover">
    </div>
    <div class="info-container border-2 w-2/4 p-7 rounded-lg">
      <%= link_to @user.name, user_path(@user), class: "text-2xl font-bold text-blue-400 hover:text-blue-500" %>
      <p class="text-gray-600 text-right">Number of Posts: <%= @user.posts_counter%></p>
    </div>
  </div>
  <div>
    <%= link_to "Create Post", new_user_post_path(@user), class: "btn btn-block bg-gray-900 border-gray-200 border-2 hover:bg-blue-900" %>
  </div>
  <div class="mt-8">
  <% @posts.order(created_at: :desc).each do |post|%>
    <div id="post-<%=post.id%>" class="border-2 p-4 mb-4 rounded-lg">
      <%= link_to "Post ##{post.id}", user_post_path(@user, post), class: "text-lg font-bold mb-2 text-blue-400 hover:text-blue-500" %>
      <p class="text-gray-400 leading-relaxed">
        <%= post.text %>
      </p>
      <% if can? :destroy, post %>
        <%= form_with(url: user_post_path(@user, post), method: :delete, local: true) do |form| %>
          <%= form.submit 'Delete', class: 'btn btn-outline' %>
        <% end %>
      <% end %>
      <div class="flex justify-end mt-4">
        <span class="text-gray-400 mr-4">
          Comments: <%= post.comments_counter %>
        </span>
        <span class="text-gray-400">
          Likes: <%= post.likes_counter %>
        </span>
      </div>
      <div class="mt-4">
        <ul>
          <% post.five_recent_comments_from_post.each do |comment|%>
            <li>
              <p class="border-red-600 p-2">
                Username: <%= comment.user.name %> Comment: <%= comment.text %>
              </p>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  </div>
</div>